<html ng-app="redditClone">
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
  <div ng-controller="postController">
    <nav>
      <h2>Reddit Clone</h2>
      <a href="" ng-click="formPost=true"> Submit Post +</a>
      <button ng-click="formPost=false">Hide</button>

      <input type="text" ng-model="search" value="search" placeholder="Search">
      <label for="select">Sort by</label>
      <select ng-model="sort" ng-init="sort = '-vote'">
           <option value = "-vote">Votes</option>
           <option value = "-date">Date</option>
           <option value = "title">Title</option>
      </select>
    </nav>

    <form ng-show="formPost" name="form" novalidate>
      <label for="title">Title</label>
      <input type="text" ng-model="title" required>
      <label for="author">Author</label>
      <input type="text" ng-model="author" required>
      <label for="url">Image URL</label>
      <input type="url" ng-model="url" required>
      <label for="description">Description</label>
      <textarea name="description" ng-model="description" rows="8" cols="40"></textarea>
      <input type="submit" ng-disabled="form.$invalid" ng-click="submitPost()" name="submit" value="Submit Post">
    </form>

    <article ng-repeat="post in posts | filter:search | orderBy: sort">
      <div ng-controller="voteController">
        <h3>{{post.title}}</h3><i class="fa fa-long-arrow-up" ng-click="upVote()" style='cursor:pointer'></i><i class="fa fa-long-arrow-down" ng-click="downVote()" style='cursor:pointer'></i> <span ng-model="post.vote" ng-class="{green: post.vote>0, red:post.vote<0}">{{post.vote}}</span>
      </div>
      <!-- end voteController -->
      <h4>{{post.author}}</h4>
      <img style="width:150px" ng-src="{{post.url}}" alt="Picture of {{title}}">
      <p>{{post.description}}</p>
        <div ng-controller="commentController">
          <footer>
            <h1>{{test}}</h1>
            <i class="fa fa-calendar-o"></i><time>Posted on {{ post.date | date }}</time>
            <!-- the code below is for angularMoment -->
            <!-- <time title="{{ post.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ post.date | amCalendar }}</time> -->
            <i class="fa fa-comment-o">Number of Comments</i>
            <a href="" ng-click="formComment=true"><i class="fa fa-pencil-square-o">Add Comment</i></a>
            <button ng-click="formComment=false">Hide</button>
          </footer>
            <form ng-show="formComment">
              <label for="commentAuthor">Author</label>
              <input type="text" ng-model="commentAuthor">
              <label for="text">Text</label>
              <input type="commentText" ng-model="commentText">
              <input type="submit" ng-click="submitComment()" value="Add Comment">
            </form>
              <div class="comments" ng-repeat="comment in comments">
                <p><strong>{{comment.commentAuthor}}</strong> - {{comment.commentText}}</p>
              </div>
          </div> <!-- end of commentController -->
    </article>
  </div>  <!--end of postController-->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.2/angular-moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.2/angular-moment.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
