<html ng-app="redditClone">
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div ng-controller="postController">
    <nav>
      <h2>Reddit Clone</h2>
      <a href="" ng-click="formPost=true"> Submit Post +</a>
      <button ng-click="formPost=false">Hide</button>

      <input type="text" ng-model="search" value="search" placeholder="Search">
      <label for="select">Sort by</label>
      <select name="select">
           <option value = "votes">Votes</option>
           <option value = "date">Date</option>
           <option value = "time">Time</option>
      </select>
    </nav>

    <form ng-show="formPost">
      <label for="title">Title</label>
      <input type="text" ng-model="title">
      <!-- <p ng-hide="postForm.$dirty">Hide when Dirty</p> -->

      <label for="author">Author</label>
      <input type="text" ng-model="author">
      <label for="url">Image URL</label>
      <input type="url" ng-model="url">
      <label for="description">Description</label>
      <textarea name="description" ng-model="description" rows="8" cols="40"></textarea>
      <!-- use in submit button: ng-disabled="postForm.$invalid" -->
      <input type="submit" ng-click="submitPost()" name="submit" value="Submit Post">
    </form>

    <form name="formComment">
      <label for="commentAuthor">Author</label>
      <input type="text" ng-model="commentAuthor">
      <label for="text">Text</label>
      <input type="commentText" ng-model="commentText">
      <input type="submit" ng-click="submitComment()" name="submit" value="Add Comment">
    </form>

    <article ng-repeat="post in posts | filter:search">
      <h3>{{post.title}}</h3>
      <h4>{{post.author}}</h4>
      <img style="width:100px" ng-src="{{post.url}}" alt="Picture of {{title}}">
      <p>{{post.description}}</p>
      <p>Posted on {{ rightNow | date: 'fullDate'}} at {{ rightNow | date: 'shortTime'}}</p>
    </article>


  </div>
  <!--end of postController-->
</body>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
   <script src="app.js"></script>
</html>
